$color-scheme: light;

// Slightly darker ruby tones for improved readability.
$purple-000: #B82E28;
$purple-100: #A42823;
$purple-200: #8E1F1B;
$purple-300: #701816;

$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $purple-000;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: $grey-lt-000;
$base-button-color: #f7f7f7;
$btn-primary-color: $purple-100;
$code-background-color: $white;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-100;

@import "./vendor/accessible-pygments/github-light";
