# frozen_string_literal: true

class CreateMcpOauthCredentials < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :<%= credential_table_name %> do |t|
      t.references :<%= user_table_name.singularize %>, null: false, foreign_key: true, index: true
      t.string :name, null: false
      t.string :server_url, null: false
      t.text :token_data
      t.text :client_info_data
      t.datetime :token_expires_at
      t.datetime :last_refreshed_at

      t.timestamps

      t.index [:<%= user_table_name.singularize %>_id, :server_url], unique: true, name: "index_mcp_oauth_on_<%= user_table_name.singularize %>_and_server"
    end
  end
end
