# frozen_string_literal: true

class CreateMcpOauthStates < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :<%= state_table_name %> do |t|
      t.references :<%= user_table_name.singularize %>, null: false, foreign_key: true
      t.string :server_url, null: false
      t.string :state_param, null: false
      t.text :pkce_data, null: false
      t.datetime :expires_at, null: false

      t.timestamps

      t.index [:<%= user_table_name.singularize %>_id, :state_param], unique: true, name: "index_mcp_oauth_states_on_<%= user_table_name.singularize %>_and_state"
      t.index [:<%= user_table_name.singularize %>_id, :server_url], unique: true, name: "index_mcp_oauth_states_on_<%= user_table_name.singularize %>_and_server"
      t.index :expires_at, name: "index_mcp_oauth_states_on_expires_at"
    end
  end
end
